<%= form_with(model: test_passage, local: true) do |form| %>
  <% if test_passage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test_passage.errors.count, "error") %> prohibited this test_passage from being saved:</h2>

      <ul>
        <% test_passage.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :test_id %>
    <%= form.text_field :test_id %>
  </div>

  <div class="field">
    <%= form.label :current_question_id %>
    <%= form.text_field :current_question_id %>
  </div>

  <div class="field">
    <%= form.label :correct_questions %>
    <%= form.number_field :correct_questions %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
