<p id="notice"><%= notice %></p>

<h1>Test Passages</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Test</th>
      <th>Current question</th>
      <th>Correct questions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_passages.each do |test_passage| %>
      <tr>
        <td><%= test_passage.user_id %></td>
        <td><%= test_passage.test_id %></td>
        <td><%= test_passage.current_question_id %></td>
        <td><%= test_passage.correct_questions %></td>
        <td><%= link_to 'Show', test_passage %></td>
        <td><%= link_to 'Edit', edit_test_passage_path(test_passage) %></td>
        <td><%= link_to 'Destroy', test_passage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test Passage', new_test_passage_path %>
