<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site">
      <header class="site-header">
        <h1 class="site-title"><%= link_to 'TestGuru', root_path %></h1>

        <nav class="site-navigation">
        <% if user_signed_in? %>
          <li>Welcome, <b><%= current_user.name %></b>!</li>
          <% if current_user.is_a?(Admin) %>
            <li><%= link_to 'Admin', admin_root_path %></li>
          <% end %>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <ul>
            <li><%= link_to 'Register', new_user_registration_path %></li>
            <li><%= link_to 'Login', new_user_session_path %></li>
          </ul>
        <% end %>
        </nav>
      </header>
      <main class="content-wrapper">
        <article class="site-content">
        <%= render 'shared/flash' %>
          <%= yield %>
        </article>
      </main>
      <footer class="site-footer">
        <p><%= render 'shared/footer' %></p>
      </footer>
    </div>
  </body>
</html>
