<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to 'Тест-Гуру', root_path %></h1>
      <p class="nav user">
      <% if logged_in? %>
        Добро пожаловать, <b><%= current_user.email %></b>! <%= link_to 'Выйти', logout_path, method: :delete %>
      <% else %>
        <%= link_to 'Регистрация', signup_path %> | <%= link_to 'Войти', login_path %>
      <% end %>
      </p>


    <%= yield %>
    <br>
    <%= render 'shared/footer' %>
  </body>
</html>
